@font-face {
    font-family: Montserrat;
    src: url(/fonts/Montserrat-Thin.ttf);
    font-weight: 100;
}
@font-face {
    font-family: Montserrat;
    src: url(/fonts/Montserrat-Light.ttf);
    font-weight: 300;
}
@font-face {
    font-family: Montserrat;
    src: url(/fonts/Montserrat-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: Montserrat;
    src: url(/fonts/Montserrat-Medium.ttf);
    font-weight: 500;
}
@font-face {
    font-family: Montserrat;
    src: url(/fonts/Montserrat-Bold.ttf);
    font-weight: 700;
}
* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat';
    box-sizing: border-box;
}


html, body {
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

a
{
    text-decoration: none;
}
.header{
    width: 100%;
    background-color: #001d38;
}
.container {
    width: 100%;
    margin: auto;
    box-sizing: border-box;
  }
.header-logo{
    display: flex;
    align-items: center;
    gap: 10px;
}
.header-logo img{
    width: 50px;
    height: 50px;
}
.header-logo p{
    color: white;
    text-transform: uppercase;
    font-size: 25px;
}
.header__con.container {
  padding-right: 0;
  padding-left: 0;
}
.header__con{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
}
.header__nav{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 40px;
}
.header__nav a{
    color: white;
    font-size: 20px;
}





.main{
    width: 100%;
}
.main__con{
    padding: 60px 15px 100px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}
.side-bar{
    width: 400px;
    padding: 20px;
    background-color: #3a2f002c;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.side__card{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.side__card img{
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    margin-bottom: 20px;
}
.side__card h4{
    font-size: 18px;
    color: #001d38;
    margin-bottom: 10px;
}
.side__card p{
    font-size: 16px;
    color: #001d38;
}
.content{
    width: calc(100% - 440px);
}
.content img{
    width: 100%;
    margin-bottom: 20px;
}
.content h2{
    font-size: 20px;
    margin-bottom: 10px;
    line-height: 40px;
}
.content p{
    font-size: 16px;
    margin-bottom: 10px;
    line-height: 25px;
    letter-spacing: .5px;
}









footer
{
    background-color: #001d38;
}
.footer__con
{
    display: inline;
}
.footer__MorInf
{
    display: flex;
    justify-content: space-evenly;
    padding: 70px 15px;
}







.MorInf__Logo
{
    display: inline;
    width: 300px;
}
.footer-Logo
{
    display: flex;
    gap: 3px;
    list-style: none;
}
.Logos-img img
{
    width:40px;
    height: 40px;
}
.Logos-name
{
    font-size: 35px;
    font-family: 'Montserrat';
    color: white;
}
.Subscribe__txt
{
    font-size: 20px;
    font-family: 'Montserrat';
}
.footer-sources
{
    display: flex;
    gap: 10px;
    list-style: none;
}
.footer-sources img 
{
    width: 25px;
    height: 25px;
}
.footer-adress img 
{
    width: 15px;
    height: 15px;
}





.MorInf__RatData
{
    display: inline;
    width: 240px;
}
.footer-rating .footer-data
{
    display: inline;
}
.Rating-info 
{
    display: inline;
    list-style: none;
}
.Data-info 
{
    display: inline;
    list-style: none;
}





.MorInf__Solution
{
    display: inline;
    width: 240px;
}
.Solution-info 
{
    list-style: none;
}



.MorInf__Resources
{
    display: inline;
    width: 240px;
}
.Resources-info
{
    list-style: none;
}



.MorInf__About
{
    display: inline;
    width: 240px;
}
.About-info 
{
    list-style: none;
}

.Rating 
{
    color: white;
    font-size: 20px;
    font-family: 'Montserrat';
}
.About
{
    color: white;
    font-size: 20px;
    font-family: 'Montserrat';

}
.Solution
{
    color: white;
    font-size: 20px;
    font-family: 'Montserrat';

}
.Resources
{
    color: white;
    font-size: 20px;
    font-family: 'Montserrat';

}
.Data
{
    color: white;
    font-size: 20px;
    font-family: 'Montserrat';

}



.footer-adress a{
    color: #AEB5B5;
}

.footer-adress a:hover
{
    color:white;
    opacity: 0.9;
}



.Subscribe__txt
{
    color: #AEB5B5;
}
.Rating-info a{
    color: #AEB5B5;
}
.Rating-info a:hover
{
    color:white;
    opacity: 0.9;
}


.Data-info a{
    color: #AEB5B5;
}
.Data-info a:hover
{
    color:white;
    opacity: 0.9;
}


.Solution-info a
{
    color: #AEB5B5;
}
.Solution-info a:hover
{
    color:white;
    opacity: 0.9;
}




.Resources-info a
{
    color: #AEB5B5;
}
.Resources-info a:hover
{
    color:white;
    opacity: 0.9;
}

.About-info a{
    color: #AEB5B5;
}

.About-info a:hover
{
    color:white;
    opacity: 0.9;
}



.footer-Logo
{
    padding: 10px 0;
}
.Subscribe__txt
{
    padding: 10px 0;
}
.footer-sources
{
    padding: 10px 0;
}
.footer-adress
{
    padding: 10px 0;
}

.Rating
{
    padding: 10px 0;
}
.Rating-info
{
    padding: 10px 0;
    margin-bottom: 3px;
}
.footer-rating
{
    margin-bottom: 10px;
}
.Data
{
    padding-bottom: 10px;
}
.Data-info li
{
    margin-bottom: 3px;
}
.Solution
{
    padding-bottom: 10px;
}
.Solution-info li
{
    margin-bottom: 3px
}
.About
{
    padding-bottom: 10px;
}
.About-info li
{
    margin-bottom: 3px
}
.Resources
{
    padding-bottom: 10px;
}
.Resources-info li
{
    margin-bottom: 3px
}




/*Адапьтвка*/
@media (max-width: 992px) 
{
    .side-bar
    {
        width: 300px;
        padding: 5px;
        background-color: #f2f2f2;
    }
    .content
    {
        width: calc(100% - 320px);

    }
    .side__card h4 {

        font-size: 16px;
    }
    .side__card p
    {
        font-size: 14px;
    }
    .content h2 {
        font-size: 18px;
    }
    .content p {
        font-size: 14px;
    }
    .header-logo img {
        width: 28px;
        height: 28px;
    }
    .header-logo p 
    {
        font-size: 16px;
    }
    .header__nav  a
    {
        font-size: 16px;
    }
    .main__con {
        padding: 10px 20px;
    }
    .content h2 
    {
       margin-bottom: 2px;
       line-height: 20px;
    }
    .footer__MorInf 
    {
        flex-wrap: wrap;
    }
    .Logos-name {
        font-size: 20px;
    }
    .Logos-img img 
    {
        width: 25px;
        height: 25px;
    }
    .Subscribe__txt
    {
        font-size: 16px;
    }
    .footer-sources
    {
        padding: 4px 0;
    }
    .footer-sources img
    {
        width: 20px;
        height: 20px;
    }
    .footer-adress a
    {
        font-size: 14px;
    }
    .footer-adress img
    {
        width: 15px;
        height: 15px;
        padding-right: 3px;
    }
    .footer-rating
    {
        margin-bottom: 5px;
    }
    .Rating
    {
        font-size: 20px;
    }
    .Rating-info a
    {
        font-size: 14px;
    }
    .Data
    {
        font-size: 20px;
    }
    .Data-info a
    {
        font-size: 14px;
    }
    .Data-info
    {
        margin-bottom: 5px;
    }
    .Solution
    {
        font-size: 20px;
    }
    .Solution-info a
    {
        font-size: 14px;
    }
    .Solution-info
    {
        margin-bottom: 5px;
    }
    .Resources
    {
        font-size: 20px;
    }
    .Resources-info a
    {
        font-size: 14px;
    }
    .About
    {
        font-size: 20px;
    }
    .About-info a
    {
        font-size: 14px;
    }
    .footer__MorInf
    {
        padding: 15px 20px;
        justify-content: flex-start;
        gap: 10px;

    }
    
    
    
}
@media (max-width: 390px) 

{
    .header__con
    {
        flex-direction: column;
        gap: 15px;
    }
    .header-logo img 
    {
        width: 20px;
        height: 20px;
    }
    .header-logo p 
    {
        font-size: 12px;
    }
    .header-logo
    {
        gap: 2px;
    }
    .header__nav a
    {
        font-size:12px ;
        justify-content:space-evenly;
    }
    .main__con
    {
        display: flex;
        flex-direction: column-reverse;
    }
    .content
    {
        width: 100%;
        
    }
    .main__con
    {
        padding: 5px 8px;
    }
    .side-bar
    {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        flex-direction: row;
    }
    .side__card
    {
        width: 170px;
    }
    
}
@media (max-width:526px) 
{
    .header__con
    {
        flex-direction: column;
        gap: 15px;
    }
    .header-logo img 
    {
        width: 40px;
        height: 40px;
    }
    .header-logo p 
    {
        font-size: 30px;
    }
    .header-logo
    {
        gap: 2px;
    }
    .header__nav a
    {
        font-size:18px ;
        justify-content:space-evenly;
    }
    .main__con
    {
        display: flex;
        flex-direction: column-reverse;
    }
    .content
    {
        width: 100%;
        
    }
    .main__con
    {
        padding: 5px 8px;
    }
    .side-bar
    {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        flex-direction: row;
    }
    .side__card
    {
        width: 235px;
    }
    
}